.main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#pro{
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -110px;
}
div span{
    float: left;
    display: block;
    height: 100px;
    width:20px;
    background-color:#ffca58;
    border-radius: 20px;

}
#one{
    position: absolute;
    left: -50px; 
    top:-50px;
    
}
#two{
    position: absolute;
    left: -50px; 
    top:-50px;
    animation: n2 5s 2  ease-in-out;

}

#three{
    position: absolute;
    left: -50px;
    top:-50px;
    animation: n3 5s 2  ease-in-out;

}
@keyframes n2 {
    0%{
        height: 100px;

    }
    20%{
        transform:translateX(0px);

    }
    30%{
        transform-origin: top center;
        transform: rotate(-35deg) translateX(-5px);
        height: 110px;

    }
    50%{
        transform-origin: top center;
        transform: rotate(-35deg) translateX(-5px);
        height: 110px;
    }
    60%{
        transform-origin: top center;
        transform: rotate(-35deg) translateX(-5px);
        height: 110px;
    }
    70%{
        transform-origin: top center;
        transform: rotate(-35deg) translateX(-5px);
        height: 110px;
    }
    100%{
        transform-origin: top center;
    }
}

@keyframes n3 {
    0%{
        height: 100px;

    }
    20%{
        transform:translateX(0px);

    }
    30%{
        transform-origin: top center;
        transform: rotate(-35deg) translateX(-5px);
        height: 110px;

    }
    50%{
        transform: rotate(0deg) translateX(57px);
        height: 100px;
    }
    60%{

        transform: rotate(0deg) translateX(57px);
        height: 100px;
    }
    70%{
        transform-origin: top center;
        transform: rotate(-35deg) translateX(-5px);
        height: 110px;
    }
    100%{
        transform-origin: top center;
    }
    
}